.body {
    background-color: #dcdcdc;
    font-family: 'Kanit', sans-serif;
    font-size: 45px;

}



.h {
    font-family: 'Kanit', sans-serif;
    font-size: 45px;

}



.p {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 20px
}



.p1 {
  text-indent: 2em;   /* ระยะย่อหน้า (ขยับบรรทัดแรกเข้ามา) */
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 20px
}



.carousel-title-box {
  background-color: #e3db6e;
  padding: 20px 0;
  border-radius: 10px;          /* ✅ โค้งทุกมุม */
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
   width: 75%;              /* ✅ กำหนดให้ใหญ่กว่ารูปต้นฉบับ (เช่นจาก 60% → 75%) */
  max-width: 850px;        /* จำกัดความกว้างสูงสุด */
  margin: 30px auto; 
}



.boom{
color: #f0dc00;

}



.accordion-button:not(.collapsed) {
  background-color: #fff369; /* ✅ สีฟ้าอ่อนตอนเปิด */
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}



.author-box {
  display: flex;              /* ใช้ flexbox */
  flex-direction: column;     /* เรียงในแนวตั้ง */
  align-items: center;        /* จัดกึ่งกลางแนวนอน */
  justify-content: center;    /* จัดกึ่งกลางแนวตั้ง (ถ้าต้องการทั้งหน้า) */
  text-align: center;         /* ข้อความให้อยู่กึ่งกลาง */
}



.author-box img {
  width: 100px;               /* กำหนดขนาดรูป */
  height: 100px;
  border-radius: 50%;         /* ครอปเป็นวงกลม */
  object-fit: cover;          /* ครอบรูปไม่ให้บิด */
}
